<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMTP</title>

    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- 초기화 소스 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <!-- 쿠키 소스 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


    <script src="../static/js/index.js"></script>
    <script src="../static/js/youtube.js"></script>
    <script src="../static/js/login.js"></script>
    <script src="../static/js/register.js"></script>


    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="main-container">
        <div class="login-form">
            <h3>Hip Playlist</h3>
            <div class="login">
                <div class="mid">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">아이디</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">비밀번호</label>
                    </div>
                    <label for="remember-id" class="remember-id">
                        <input type="checkbox" id="remember-id">아이디 저장하기
                    </label>
                    <button type="button" class="btn btn-danger login_btn btn_red" onclick="login()">로그인</button>
                </div>
                <div class="bottom">
                    <p>아직 회원이 아니라면</p>
                    <button type="button" class="btn btn-outline-danger btn_red" onclick="sign_submit()">회원가입</button>
                </div>
            </div>
            <div class="register">
                <div class="form-floating">
                    <input type="text" class="form-control" id="register-id" placeholder="아이디를 입력해주세요">
                    <label for="register-id">아이디</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="register-pass" placeholder="비밀번호를 입력해주세요">
                    <label for="register-pass">비밀번호</label>
                </div>
                 <div class="form-floating">
                    <input type="text" class="form-control" id="register-char_name" placeholder="닉네임을 입력해주세요">
                    <label for="register-char_name">닉네임</label>
                </div>
                <div class="register_btn">
                    <button type="button" class="btn btn-danger login_btn btn_red" onclick="register()">회원가입</button>
                    <button type="button" class="btn btn-outline-danger btn_red" onclick="document.location.href='/'">취소</button>
                </div>
            </div>
        </div>
        <div class="youtube">
            <div class="youtube-player">
                <div id="player"></div>
            </div>
            <div class="youtube_bg"></div>
        </div>
    </div>
</body>
</html>



